---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As a driven and ambitious software engineer, I recently completed my final year in Computer Science at DCU. 
    With a strong foundation in analytical thinking and problem- solving, I have honed my skills through various modules, 
    projects and current work experiences. Committed to staying updated with the latest technologies and industry trends, 
    I am eager to contribute to innovative projects and collaborate with a dynamic team. With a strong work ethic and a 
    drive for continuous learning, I am ready to embark on a successful career as a software engineer.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BSC COMPUTER APPLICATIONS AND SOFTWARE ENGINEERING • OCTOBER 2023 • DUBLIN CITY UNIVERSITY"
      subtitle="First Class Honours"
    />
    <TimeLineElement
      title="LEAVING CERTIFICATE • JUNE 2019 • VIRGINIA COLLEGE"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="FULL STACK DEVELOPER • BOOSTLINGO • JUNE 2023 • PRESENT"
    >
      Actively contribute to a collaborative development team, undertaking a diverse range of responsibilities. Play a pivotal role in tackling broader-focused tasks and projects, leveraging newfound expertise and experience to drive team success. Mentoring new interns.    </TimeLineElement>
    <TimeLineElement
      title="JR FULL STACK DEVELOPER • BOOSTLINGO • MAR 2022 • MAY 2023"
    >
      Played a key role in a collaborative development team as a junior full-stack developer, focusing on learning and skill development. Engaged in various tasks, including bug fixes, feature implementations, release planning, and other related activities, while actively seeking opportunities to expand knowledge and expertise.    </TimeLineElement>
    <TimeLineElement
      title="BAR STAFF • HEADFORD GOLF CLUB • AUG 2022 • MAR 2022"
    >
      As a bar staff member, I have gained valuable experience in providing exceptional customer service and maintaining a fast- paced and customer-focused environment.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>
      <span><i class="fab fa-windows"></i></span>
      Windows
    </li>
    <li>
      <span><i class="fab fa-linux"></i></span>
      Linux
    </li>
    <li>
      <span><i class="fab fa-apple"></i></span>
      MacOS
    </li>
    <li>
      <span><i class="fas fa-terminal"></i></span>
      Command Line Interface
    </li>
    <li>
      <span><i class="fab fa-git"></i></span>
      Git
    </li>
    <li>
      <span><i class="fas fa-cogs"></i></span>
      CI/CD Pipelines
    </li>
    <li>
      <span><i class="fab fa-jenkins"></i></span>
      Jenkins
    </li>
    <li>
      <span><i class="fab fa-aws"></i></span>
      AWS
    </li>
    <li>
      <span><i class="fab fa-python"></i></span>
      Python
    </li>
    <li>
      <span><i class="fab fa-java"></i></span>
      Java
    </li>
    <li>
      <span><i class="fab fa-js"></i></span>
      JavaScript
    </li>
    <li>
      <span><i class="fab fa-groovy"></i></span>
      Groovy
    </li>
    <li>
      <span><i class="fab fa-golang"></i></span>
      Golang
    </li>
    <li>
      <span><i class="fab fa-js-square"></i></span>
      TypeScript
    </li>
    <li>
      <span><i class="fab fa-html5"></i></span>
      HTML
    </li>
    <li>
      <span><i class="fab fa-css3-alt"></i></span>
      CSS
    </li>
    <li>
      <span><i class="fas fa-database"></i></span>
      SQL
    </li>
    <li>
      <span><i class="fab fa-node-js"></i></span>
      NodeJS
    </li>
    <li>
      <span><i class="fab fa-node"></i></span>
      Express
    </li>
    <li>
      <span><i class="fab fa-react"></i></span>
      React
    </li>
    <li>
      <span><i class="fas fa-gem"></i></span>
      Grails
    </li>
    <li>
      <span><i class="fas fa-snowboarding"></i></span>
      SvelteKit
    </li>
  </ul>
</BaseLayout>
