---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Jason Henderson
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://github.com/jasonnhenderson" target="_blank" class="font-bold">Jason Henderson</a> using
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template ⚡️</a>
  </div>
</footer>
<style></style>
